#top {
  /* margin-top: 10px; */
  height: 100px;
  width: 100%;
  background: #1f1f1f;
}

#middle {
  height: 1000px;
  width: 100%;
  background: #1f1f1f;
}

#bottom {
  height: 100px;
  width: 100%;
  background: #1f1f1f;
}

#redline {
  height: 5px;
  width: 100%;
  background: linear-gradient(
    180deg,
    #e4162a 0%,
    rgba(29, 0, 3, 0.82) 100%
  ) !important;
}
#logo {
  height: 50px;
  width: 313px;
  background: #1f1f1f !important;
  margin: auto;
  position: absolute;
  left: 25%;
}

/* img {
  margin-top: 80px;
} */

#big {
  margin-top: 80px;
  margin-left: 30px;
}

.ui.form {
  position: relative;
  left: 18%;
  max-width: 65% !important;
  margin-top: 23rem;
}

/* .ui.large.form {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.input {
  height: 70px;
}

.ui.field {
  margin-bottom: 2.5em !important;
}

.ui.green.button,
.ui.green.buttons .button {
  background: linear-gradient(
    180deg,
    #e4162a 0%,
    rgba(29, 0, 3, 0.82) 100%
  ) !important;
  height: 50px;
}

.ui.fluid.button,
.ui.fluid.buttons {
  width: 40% !important;
  position: relative;
  left: 185px;
}

#tagline {
  color: #f2f2f2;
  font-size: 2.4rem;
  position: relative;
  top: 190px;
  /* margin-left: 20px; */
}
/* use !important to override */

/* 1272 is center mark*/
